# created by virtualenv automatically

# Python
*.pyc
*.pyo
__pycache__/

/media/

# Django
*.sqlite3
*.log
main/settings.py
.env

# Static & Media
/staticfiles/
/media/

# IDEs / OS
.vscode/
.idea/
.DS_Store