{% load static %}
{% load group_tags %}
<!DOCTYPE html>
<html dir="ltr" lang="en">

{% include 'partials/head.html' %}

<body>

    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <div id="main-wrapper">

        <!-- Topbar header - style you can find in pages.scss -->

        {% include 'partials/header.html' %}

        <!-- End Topbar header -->


        <!--sidebar-->

        {% include 'partials/sidebar.html' %}
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->

        <!-- Page wrapper  -->

        <div class="page-wrapper">

            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Start Page Content -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title"><i class="fa fa-key"></i> List Code </h4>
                                <!-- <button type="button" class="btn btn-login btn-rounded">Export Data / تصدير البيانات </button> -->


                                <div class="table-responsive">
                                    {% include 'partials/search_mode.html' %}
                                    {% include 'messages.html' %}
                                    <table id="demo-foo-addrow" class="table m-t-30 no-wrap table-hover contact-list"
                                        data-page-size="10">
                                        <thead>
                                            <tr>
                                                <th>Code d'activation</th>
                                                <th>Product</th>
                                                
                                                
                                              
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for code in page_obj %}
                                            <tr>
                                                <td>{{ code.activation_code }}</td>
                                                <td>{{ code.activation_code.product.name }}</td>
               
                                            </tr>
                                            {% endfor %}
                                        </tbody>

                                    </table>
                                </div>
                            </div>

                            {% include 'partials/pagination.html' %}
                        </div>

                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- End PAge Content -->
                <!-- ============================================================== -->
                <!-- ============================================================== -->
                <!-- Right sidebar -->
                <!-- ============================================================== -->
                <!-- .right-sidebar -->
                <!-- ============================================================== -->
                <!-- End Right sidebar -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- footer -->
            <!-- ============================================================== -->
            {% include 'partials/footer.html' %}
            <!-- ============================================================== -->
            <!-- End footer -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Wrapper -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- customizer Panel -->
    <!-- ============================================================== -->

    <div class="chat-windows"></div>
    <!-- ============================================================== -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="{% static 'assets/libs/popper.js/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- apps -->
    <script src="{% static 'dist/js/app.min.js' %}"></script>
    <script src="{% static 'dist/js/app.init.iconbar.js' %}"></script>
    <script src="{% static 'dist/js/app-style-switcher.js' %}"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="{% static 'assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js' %}"></script>
    <script src="{% static 'assets/extra-libs/sparkline/sparkline.js' %}"></script>
    <!--Wave Effects -->
    <script src="{% static 'dist/js/waves.js' %}"></script>
    <!--Menu sidebar -->
    <script src="{% static 'dist/js/sidebarmenu.js' %}"></script>
    <!--Custom JavaScript -->
    <script src="{% static 'dist/js/custom.min.js' %}"></script>
    <!--This page JavaScript -->
    <script src="{% static 'dist/js/pages/tables/js-grid-db.js' %}"></script>
    <script src="{% static 'assets/libs/jsgrid/dist/jsgrid.min.js' %}"></script>
    <script src="{% static 'dist/js/pages/tables/js-grid-init.js' %}"></script>




</body>

</html>