{% load static %}
{% load group_tags %}
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-dark">
        <div class="navbar-header">

            <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                <i class="ti-menu ti-close"></i>
            </a>

            <div class="navbar-brand">

                <a href="index.html" class="logo">
                    <!-- Logo icon -->
                    <b class="logo-icon">
                        <!--You can put here icon as well // <i class="wi wi-sunset"></i> //-->
                        <!-- Dark Logo icon -->
                        <img src="{% static 'assets/images/logom.png' %}" alt="logo" class="dark-logo" />
                        <!-- Light Logo icon -->

                    </b>
                    <!--End Logo icon -->
                    <!-- Logo text -->
                    <span class="logo-text">

                    </span>
                </a>

            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Toggle which is visible on mobile only -->
            <!-- ============================================================== -->
            <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <i class="ti-more"></i>
            </a>





        </div>


        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse collapse" id="navbarSupportedContent">


            <!-- ============================================================== -->
            <!-- toggle and nav items -->
            <!-- ============================================================== -->


            <a class="sidebartoggler d-none d-md-block" href="javascript:void(0)" data-sidebartype="mini-sidebar">
                <i class="mdi mdi-menu font-20" style="color: rgb(190, 187, 187); margin-left: 15px;"></i>
            </a>
            <ul class="navbar-nav float-left mr-auto">



                <!-- <li class="nav-item d-none d-md-block">
                            <a class="nav-link sidebartoggler waves-effect waves-light" href="javascript:void(0)" data-sidebartype="mini-sidebar">
                                <i class="mdi mdi-menu font-24"></i>
                            </a>
                        </li> -->
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->

            </ul>




            <!-- ============================================================== -->
            <!-- Right side toggle and nav items -->
            <!-- ============================================================== -->
            <ul class="navbar-nav float-right">
                {% if user|has_group:'reseller' %}
                <button class="btn btn-success disabled" style=" height: 40px; margin-top: 10px;">{{ solde_revendeur }}
                    DA</button>
                {% endif %}


                <!-- NOTIFICATIONS -->
                <li class="nav-item dropdown border-right">
                    <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" href="#"
                        data-toggle="dropdown" data-url="{% url 'notifications_lues' %}">
                        <i class="fa fa-bell"></i>

                        {% if has_unread %}
                        <span class="notif-dot"></span>
                        {% endif %}

                    </a>

                    <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list notif-scroll"
                        aria-labelledby="notificationDropdown" style="max-height: 300px; overflow-y: auto;">
                        {% if notifications %}
                        {% for notif in notifications %}
                        <a class="dropdown-item preview-item {% if not notif.is_read %}font-weight-bold{% endif %}">
                            <div class="preview-item-content">
                                <h6 class="preview-subject font-weight-normal">{{ notif.message|safe }}</h6>
                                <p class="font-weight-light small-text text-muted mb-0">
                                    {{ notif.created_at|date:"d/m/Y H:i" }}
                                </p>
                            </div>
                        </a>
                        {% endfor %}
                        {% else %}
                        <div class="p-3 text-center text-muted">Aucune notification</div>
                        {% endif %}
                    </div>
                </li>







                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle waves-effect waves-dark pro-pic" href="" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">

                        <span class="m-l-5 font-medium d-none d-sm-inline-block">{{ request.user.username }}</span>
                        <i class="mdi mdi-chevron-down d-inline d-sm-none"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                        <span class="with-arrow">
                            <span class="bg-dropdown"></span>
                        </span>
                        <div class="d-flex no-block align-items-center p-15 bg-dropdown text-white m-b-10">
                            <div class="">
                                <img src="{% static 'assets/images/user.png' %}" alt="user" width="30">
                            </div>
                            <div class="m-l-10">
                                <h4 class="m-b-0">{{ request.user.username }}</h4>
                                <h5 class=" m-b-0">{{ request.user.email }}</h5>
                            </div>
                        </div>
                        <div class="profile-dis scrollable">
                            <a class="dropdown-item" href="{% url 'profile' %}">
                                <i class="ti-user m-r-5 m-l-5"></i> My Profile</a>





                            <div class="dropdown-divider"></div>
                        </div>
                        <div class="p-l-30 p-10">
                            <a href="{% url 'logout' %}" class="btn btn-sm btn-danger btn-rounded">Logout</a>
                        </div>
                    </div>
                </li>



                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
            </ul>
        </div>
    </nav>
</header>



<script src="{% static 'dist/js/notifications_handler.js' %}"></script>