{% load static %}
{% load group_tags %}


{% if user|has_group:'reseller' %}
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">

                <li class="sidebar-item user-profile" style="border: 10;">
                    <a href="javascript:void(0)" class="sidebar-link waves-effect waves-dark" aria-expanded="false">
                        <i class="fa fa-user-circle"></i>
                        <span class="hide-menu" style="font-size: 16px;">
                            {{ request.user.first_name }} {{ request.user.last_name }}<br>
                            <small class="label label-success" style="font-size: 16px; margin-top: 10px;">
                                {% for group in request.user.groups.all %}
                                {{ group.name }}{% if not forloop.last %}, {% endif %}
                                {% empty %}
                                No Group
                                {% endfor %}
                            </small>
                        </span>
                    </a>
                </li>




                <li class="sidebar-item {% if '/list_category/' in request.path %}active{% endif %}">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'list_category' %}"
                        aria-expanded="false">
                        <i class="fa fa-folder"></i>
                        <span class="hide-menu">List Category</span>
                    </a>
                </li>

                <li class="sidebar-item {% if '/list_activation_user/' in request.path %}active{% endif %}">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'list_activation_user' %}"
                        aria-expanded="false">
                        <i class="fa fa-key"></i>
                        <span class="hide-menu">List Codes</span>
                    </a>
                </li>

                <li class="sidebar-item {% if '/list_achat/' in request.path %}active{% endif %}">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'list_achat' %}"
                        aria-expanded="false">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="hide-menu">List Achats</span>
                    </a>
                </li>

                <li class="sidebar-item {% if '/history_transaction/' in request.path %}active{% endif %}">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'history_transaction' %}"
                        aria-expanded="false">
                        <i class="fa fa-credit-card"></i>
                        <span class="hide-menu">History transactions</span>
                    </a>
                </li>


                <li class="sidebar-item {% if '/profile/' in request.path %}active{% endif %}">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'profile' %}"
                        aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span class="hide-menu">Profile</span>
                    </a>
                </li>

















            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
{% endif %}



{% if user|has_group:'admin' %}
<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">

                <li class="sidebar-item user-profile" style="border: 10;">
                    <a href="javascript:void(0)" class="sidebar-link waves-effect waves-dark" aria-expanded="false">
                        <i class="fa fa-user-circle"></i>
                        <span class="hide-menu" style="font-size: 16px;">
                            {{ request.user.first_name }} {{ request.user.last_name }}<br>
                            <small class="label label-success" style="font-size: 16px; margin-top: 10px;">
                                {% for group in request.user.groups.all %}
                                {{ group.name }}{% if not forloop.last %}, {% endif %}
                                {% empty %}
                                No Group
                                {% endfor %}
                            </small>
                        </span>
                    </a>
                </li>


                <li class="nav-small-cap">

                    <span class="hide-menu"></span>
                </li>



                <li class="sidebar-item {% if '/list_user/' in request.path %}active{% endif %}">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'list_user' %}"
                        aria-expanded="false">
                        <i class="fa fa-users"></i>
                        <span class="hide-menu">List User</span>
                    </a>
                </li>

                <li class="sidebar-item {% if '/list_montant/' in request.path %}active{% endif %}">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'list_montant' %}"
                        aria-expanded="false">
                        <i class="fa fa-credit-card"></i>
                        <span class="hide-menu">List Transaction</span>
                    </a>
                </li>

                <li class="sidebar-item {% if '/list_achat_user/' in request.path %}active{% endif %}">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'list_achat_user' %}"
                        aria-expanded="false">
                        <i class="fa fa-shopping-cart"></i>
                        <span class="hide-menu">List Achats</span>
                    </a>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false">
                        <i class="fa fa-folder"></i>
                        <span class="hide-menu">Category </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item {% if '/list_category/' in request.path %}active{% endif %}">
                            <a href="{% url 'list_category' %}" class="sidebar-link">
                                <i class="fa fa-list"></i>
                                <span class="hide-menu"> List </span>
                            </a>
                        </li>
                        <li class="sidebar-item {% if '/add_category/' in request.path %}active{% endif %}">
                            <a href="{% url 'add_category' %}" class="sidebar-link">
                                <i class="fa fa-plus"></i>
                                <span class="hide-menu"> Add </span>
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false">
                        <i class="fa fa-folder"></i>
                        <span class="hide-menu"> SubCategory </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item {% if '/list_subcategory/' in request.path %}active{% endif %}">
                            <a href="{% url 'list_subcategory' %}" class="sidebar-link">
                                <i class="fa fa-list"></i>
                                <span class="hide-menu"> List </span>
                            </a>
                        </li>
                        <li class="sidebar-item {% if '/add_subcategory/' in request.path %}active{% endif %}">
                            <a href="{% url 'add_subcategory' %}" class="sidebar-link">
                                <i class="fa fa-plus"></i>
                                <span class="hide-menu"> Add </span>
                            </a>
                        </li>

                    </ul>
                </li>

                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false">
                        <i class="fa fa-box"></i>
                        <span class="hide-menu"> Product </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item {% if '/list_product/' in request.path %}active{% endif %}">
                            <a href="{% url 'list_product' %}" class="sidebar-link">
                                <i class="fa fa-plus"></i>
                                <span class="hide-menu"> List </span>
                            </a>
                        </li>
                        <li class="sidebar-item {% if '/add_product/' in request.path %}active{% endif %}">
                            <a href="{% url 'add_product' %}" class="sidebar-link">
                                <i class="fa fa-plus"></i>
                                <span class="hide-menu"> Add </span>
                            </a>
                        </li>

                    </ul>
                </li>



                <li class="sidebar-item">
                    <a class="sidebar-link has-arrow waves-effect waves-dark" href="javascript:void(0)"
                        aria-expanded="false">
                        <i class="fa fa-key"></i>
                        <span class="hide-menu"> Activation Code </span>
                    </a>
                    <ul aria-expanded="false" class="collapse  first-level">
                        <li class="sidebar-item {% if '/list_activation/' in request.path %}active{% endif %}">
                            <a href="{% url 'list_activation' %}" class="sidebar-link">
                                <i class="fa fa-list"></i>
                                <span class="hide-menu"> List </span>
                            </a>
                        </li>
                        <li class="sidebar-item {% if '/add_activation/' in request.path %}active{% endif %}">
                            <a href="{% url 'add_activation' %}" class="sidebar-link">
                                <i class="fa fa-plus"></i>
                                <span class="hide-menu"> Add </span>
                            </a>
                        </li>

                    </ul>
                </li>


                <li class="sidebar-item {% if '/profile/' in request.path %}active{% endif %}">
                    <a class="sidebar-link waves-effect waves-dark sidebar-link" href="{% url 'profile' %}"
                        aria-expanded="false">
                        <i class="fa fa-user"></i>
                        <span class="hide-menu">Profile</span>
                    </a>
                </li>












            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>
{% endif %}